@keyframes loader {
    0% {
        transform: rotate(0);
    }
    70%{
        transform: rotate(300deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
* {
    --last-color: '#e9ebee'
}
body {
    background-color: var(--last-color);
}
.fas {
    cursor: pointer;
}
.nav-lv0{
    position: relative;
    cursor: pointer;
}
.nav-lv0:hover,
.active-nav-ongle {
    color: #ffeeff;
    z-index: 5;
}
.keep-visible {
    display: none;
    position: absolute;
    top: 33px;
    left: -30%;
    width: 100%;
    padding: 10px 0;
}
.nav-lv0:hover .keep-visible{
    display: block;
}

.nav-lv0:hover .nav-sub-lv1,
.nav-sub-lv1:hover,
.keep-visible:hover .nav-sub-lv1 {
    display: block !important;
}

.nav-sub-lv1{
    position: relative;
    background-color: #d3c9d3 !important;
    border-radius: 2px;
    width: 200px;
    z-index: 3;
    padding:  5px 0 8px 0;
    box-shadow: 0 0 5px #3338;
}

.nav-sub-lv1::before{
    content: '';
    width: 18px;
    height: 18px;
    transform: rotate(45deg);
    position: absolute;
    top:-5px;
    left: 88px;
    background-color: #d3c9d3 !important;
    z-index: -1;
}

.nav-sub-lv1 h5 {
    color: #333;
    padding: 7px 0 7px 10px !important;
    margin: 0;

}

.nav-sub-lv1 h5:hover{
    background-color: #aaaaaa;
}

.user-image:hover{
    border: 2px solid #aaaaaa;
}

.keep-notif {
    width: 15px;
    height: 100%;
    left: 0;
}
.keep-notif .nav-sub-lv1{
    left: -90px;
    max-height: 400px;
}
.clicked-menu{
    color: #FFFFFF;
}
.keep-user-settings{
    left: -62px;
}
.second-menu-element:hover{
    background-color: rgb(178, 181, 183);
}
.item-manager-section::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.item-manager-section:hover::before{
    background-color: #39393923;
}
.elements-verification:hover {
    background: rgba(151, 151, 151, 0.44)
}
.elements-verification i.fa-spinner{
    animation-name: loader;
    animation-duration: 0.75s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}



.button-action:hover{
    color: #0b0a0a !important;
}
.remove-child:hover i.fa-trash{
    display: flex !important;
    position: absolute !important;
    top:0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    justify-content: center;
    align-items: center;
}
.remove-child {
    border: 1px solid #39393923;
}
.remove-child:hover {
    background-color: #201d1d23;
}
.not-hide{
    display: block;
}
.hide{
    display: block;
}