main.main-app .title-menu {
  font-size: 35px;
  color: var(--primary-color);
  font-family: 'trebuc';
}

main.main-app .menu-content .statistic-table {
  height: 524px;
  background-color: var(--second-color);
  color: var(--fifth-color);
  border-radius: 7px;
}

main.main-app .menu-content .statistic-table .head-statistic-table {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

main.main-app .menu-content .statistic-table .head-statistic-table .period {
  cursor: pointer;
  position: relative;
  width: 25%;
  font-size: 25px;
  font-family: 'trebuc';
}

main.main-app .menu-content .statistic-table .head-statistic-table .period strong {
  margin-left: 10px;
  display: block;
}

main.main-app .menu-content .statistic-table .head-statistic-table .period strong.period-number {
  font-size: 40px;
  font-family: 'UrdType';
  margin-bottom: 10px;
}

main.main-app .menu-content .statistic-table .head-statistic-table .active::before,
main.main-app .menu-content .statistic-table .head-statistic-table .period:hover::before {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  width: 100%;
  height: 0px;
  border: 3px solid var(--primary-color);
}

main.main-app .menu-content .statistic-table .head-statistic-table .period:hover {
  background-color: var(--second-color-opicity);
}

main.main-app .between-section {
  margin: 5px 0;
}

main.main-app .element-number-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 150px;
  background-color: var(--second-color);
  border-radius: 5px;
  color: var(--fifth-color);
}

main.main-app .element-number-content .element {
  width: 25%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main.main-app .element-number-content .element .name {
  font-size: 30px;
  font-family: 'trebuc';
}

main.main-app .element-number-content .element .number-name {
  font-size: 40px;
  font-family: 'urdType';
}

main.main-app .admin-interface {
  height: 144px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--second-color);
  border-radius: 3px;
  color: var(--fifth-color);
  font-size: 20px;
  margin-bottom: 2px;
}

main.main-app .admin-interface .information-admin {
  width: 30%;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
}

main.main-app .admin-interface .information-admin .admin-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

main.main-app .admin-interface .information-admin .admin-name {
  margin-top: 10px;
  font-style: normal;
  font-family: 'trebuc';
  font-variant-caps: titling-caps;
}

main.main-app .admin-interface .admin-element {
  width: 17.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main.main-app .admin-interface .admin-element .name {
  font-family: 'trebuc';
}

main.main-app .admin-interface .admin-element .number-name {
  font-size: 30px;
  font-family: 'UrdType';
}

main.main-app .admin-statistic {
  margin-bottom: 50px;
}

main.main-app {
  position: relative;
  margin: 160px 41px 0 560px;
  height: auto;
}

main.main-app .title-menu {
  font-size: 30px;
  font-variant-caps: all-petite-caps;
  font-weight: bold;
  color: var(--primary-color);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main.main-app .menu-content .statistic-table {
  height: 524px;
  background-color: var(--second-color);
  color: var(--fifth-color);
  border-radius: 7px;
}

main.main-app .menu-content .statistic-table .head-statistic-table {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

main.main-app .menu-content .statistic-table .head-statistic-table .period {
  cursor: pointer;
  position: relative;
  width: 25%;
  font-size: 25px;
  font-family: monospace;
}

main.main-app .menu-content .statistic-table .head-statistic-table .period strong {
  margin-left: 10px;
  display: block;
}

main.main-app .menu-content .statistic-table .head-statistic-table .period strong.period-number {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main.main-app .menu-content .statistic-table .head-statistic-table .active::before,
main.main-app .menu-content .statistic-table .head-statistic-table .period:hover::before {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  width: 100%;
  height: 0px;
  border: 3px solid var(--primary-color);
}

main.main-app .menu-content .statistic-table .head-statistic-table .period:hover {
  background-color: var(--second-color-opicity);
}

main.main-app .between-section {
  margin: 5px 0;
}

main.main-app .element-number-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 150px;
  background-color: var(--second-color);
  border-radius: 5px;
  color: var(--fifth-color);
  font-size: 30px;
}

main.main-app .element-number-content .element {
  width: 25%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main.main-app .admin-interface {
  height: 144px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--second-color);
  border-radius: 3px;
  color: var(--fifth-color);
  font-size: 20px;
  margin-bottom: 2px;
}

main.main-app .admin-interface .information-admin {
  width: 30%;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
}

main.main-app .admin-interface .information-admin .admin-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

main.main-app .admin-interface .information-admin .admin-name {
  margin-top: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-variant-caps: all-petite-caps;
  font-style: normal;
}

main.main-app .admin-interface .admin-element {
  width: 17.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main.main-app .admin-statistic {
  margin-bottom: 50px;
}
/*# sourceMappingURL=dashboard.css.map */