@font-face {
    font-family: "k";
    src: url("./Hardkaze.ttf");
}

@font-face {
    font-family: "m";
    src: url("./digital-7.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

:root,
html {
    width: 100%;
    height: 100%;
}


body {
    background-color: #FCFF8F;
}

.add-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    font-size: 16px;
    padding: 10px;
    margin: 30px;
    border-radius: 3px;
    border: 1px  solid rgb(181, 176, 176);
}

.input-work {
    height: 40px;
    width: 30%;
    min-width: 200px;
    border-radius: 3px;
    padding: 5px 5px 5px 10px;
    font-size: 20px;
    font-weight: 400;
    font-variant-caps: all-petite-caps;
    border: 1px solid rgb(94, 94, 94);
    background-color: rgb(240, 240, 240);
    font-weight: bold;
}

.add-button {
    width: 200px;
    height: 55px;
    display: flex;
    font-size: 22px;
    justify-content: center;
    align-items: center;
    font-variant-caps: all-petite-caps;
}

.todo-list {
    display: flex;
    flex-flow: column wrap;
    margin: 5px 55px;
    border: 1px solid #000;
    border-radius: 3px;
    background-color: #f0f0f0;
}
.todo-list:empty{
    display: none;
}

.job {
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    position: relative;
    padding: 10px;
    font-variant-caps: all-petite-caps;
    border-bottom: 1px solid #000;
    font-family: 'Courier New', Courier, monospace;
}
.job:last-child{
    border-bottom: none;
}
.job-name {
    width: 100%;
    font-size: 22px;
    padding: 3px 3px 3px 12px;
}
.job-option {
    width: 50%;
    padding: 5px;
    font-size: 16px;
    text-align: center;
}
.start,
.remove{
    padding: 5px 10px;
    color: white;
    border-radius: 3px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
    background-color: teal;
    cursor: pointer;
    font-weight: bolder;
    display: flex;
    align-items: center;
}
.start i,
.remove i{
    padding: 0px 2px;
}
.remove {
    top: 50px;
    right: 5px;
    background-color: crimson;
}

.job-info {
    margin: 10px auto;
    height: 230px;
    width: 500px;
    background-color: rgb(29, 28, 28);
    color: red;
    border-radius: 3px;
    font-variant-caps: all-petite-caps;
    font-weight: bold;
}
.job-info 
    .job-name {
        display: flex;
        align-items: center;
        padding: 10px 30px;
        font-family: "k";
    }

.job-info .job-time {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    font-size: 80px;
    font-family: "m";
    text-align: center;
}
.archived {
    margin: 0 80px;
    padding: 30px 5px;
    font-weight: bold;
    font-family: "k";
    font-size: 50px;
    color: gray;
}